/* Estilo para links do menu */
.menu-link {
  padding: 0.5rem 1rem;
  color: #333;
  transition: background 0.3s ease;
}
/* Estilo para links do menu */
.menu-link2 {
  padding: 0rem 1rem;
  color: #333;
  transition: background 0.3s ease;
}

.menu-link:hover {
  background: rgba(0, 0, 0, 0.05);
}

.menu-header {
  padding: 0.5rem 1rem;
  color: #333;
  transition: background 0.3s ease;
}